<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改學生資料</title>
  </head>
  <body>
    <form action="/students/<%= foundStudent._id %>?_method=PUT" method="post">
      <label for="name">name</label>
      <input type="text" name="name" value="<%= foundStudent.name %>" />
      <label for="age">age</label>
      <input type="number" name="age" value="<%= foundStudent.age %>" />
      <label for="merit">merit</label>
      <input
        type="number"
        name="merit"
        value="<%= foundStudent.scholarship.merit %>"
      />
      <label for="other">other merit</label>
      <input
        type="number"
        name="other"
        value="<%= foundStudent.scholarship.other %>"
      />
      <button>更新</button>
    </form>
  </body>
</html>
